<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="4" verbose="1" name="Apple Test" annotations="JDK" parallel="tests">

    <test name="AppleTest">
        <classes>
            <class name="appleinsider.AppleTest"></class>
        </classes>
    </test>
</suite>
